*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page {
    width: 100%;
    height: 100vh;
}
.line1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    color: rgb(6, 6, 112);
}
.line2 {
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
}
.line3 {
    width: 100%;
    display: flex;
    padding: 30px;
}
.line3 ul {
    display: flex;   
}
.line3 ul li {
    list-style: none;
    border: 1px solid rgb(6, 6, 112);
    padding: 10px 40px;
    border-radius: 20px;
    margin-left: 10%;
    background-color: rgb(182, 175, 175,.3);
}
.line3 ul li:hover {
    cursor: pointer;
    background-color: rgb(6, 6, 112);
}
.line3 #ul1 {
    margin-left: 120px;
}
.line3 #ul2 {
    margin-left: 90px;
}
.line3 ul li a {
    text-decoration: none;
    color: black;
}
.line3 ul li a:hover {
    color: white;
}
.mainbox {
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,250px);
    gap: 20px;

}
.box.b1 {
    border-radius: 20px;  
    background: url(./image1.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}

.box.b2 {
    border-radius: 20px;  
    background: url(./image2.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}
.box.b3{
    border-radius: 20px;  
    background: url(./image3.jpg); 
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-repeat: no-repeat;
    background-position: center;
    
}
.box.b4{
    border-radius: 20px;  
    background: url(./image4.jpg); 
    background-repeat: no-repeat;
    background-position: center;

    
}
.box.b5 {
    border-radius: 20px;  
    background: url(./image5.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}
.box.b6{
    border-radius: 20px;  
    background: url(./image7.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}
.box.b7 {
    border-radius: 20px;  
    background: url(./image8.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}
.box.b8{
    border-radius: 20px;  
    background: url(./image9.jpg);
    background-repeat: no-repeat;
    background-position: center; 
}
.box.b9{
    border-radius: 20px;  
    background: url(./image59.jpg); 
    background-repeat: no-repeat;
    background-position: center;
}
/* responsive for desktop */
@media (max-width:1200px) {
    .line3 {
        width: 100%;
       padding: 0px;
       margin-top: 5%;

    }
    .line3 #ul1 {
        margin-left: 19%;
    }
    .line3 #ul2 {
        margin-left: 27%;
    }
    .line3 #ul1 li {
        margin-left: 4%;
    }
    .line3 #ul2 li {
        margin-left: 4%;
    }
    .box {
        width: 100%;
    }
}


/* responsive for tab */
@media (max-width:900px) {
    .line3 {
        flex-direction: column;
    }
    .line3 #ul1 {
        margin-left: 20%;
    }
    .line3 #ul2 {
        margin-left: 17%;
    }
    .line3 ul {
        text-align: center;
        padding: 10px;
    }
    .line3 ul li {
        margin-left: 5%;
    }
    .mainbox {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(9,250px);
    }
    .box.b1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .box.b2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .box.b3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    .box.b4 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .box.b5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
    }
    .box.b6 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .box.b7 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .box.b8 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 9;
        grid-row-end: 10;
    }
}

/* responsive for mobiles */
@media (max-width:576px) {

    .line3 ul{
        flex-direction: column;
        
    }
    .line3 {
        width: 100%;
        padding: 0;
        margin-left: 0;
    }
    .line3 ul li {
        text-align: center;
        margin-left: 0;
        width: 60%;
       
    }
    .line3 #ul2 {
        margin-left: 19%;
    }
    .line3 #ul1 {
        margin-left: 19%;
    }
    .line3 #ul1 li {
        margin-top: 15px;
    }
    .line3 #ul2 li {
        margin-top: 15px;
    }
}
